@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@800&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

/* common */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
}

.underline-hover {
    position: relative;
}

.underline-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    transition: 0.5s width;
    background: #000;
}

.underline-hover:hover::after {
    width: 100%;
}

/* header */

.header .container {
    padding: 15px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    max-width: 423px;
    gap: 28px;
}

.header__nav-item {
    display: inline;
    font-size: 16px;
    color: #1c1b1b;
    font-weight: 700;
    line-height: 1.65;
}

.header__nav-item:active {
    color: rgba(28, 27, 27, 0.85);
}

.header__title {
    font-family: 'Montserкat', sans-serif;
    font-weight: 800;
    font-size: 28px;
}

.header__title span {
    display: inline-flex;
    width: 5px;
    height: 5px;
    background-color: #0033FF;
    border-radius: 50%;
    transform: translateY(-11px);
}

.header__actions-list {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__action-item:hover {
    opacity: 0.75;
    cursor: pointer;
}

/* main */

/* hero-section */
.hero-section {
    background: #f0efeb;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 20px;
    min-height: 555px;
}

.hero-section__left {
    max-width: 510px;
}

.hero-section__title {
    font-size: 60px;
    margin-bottom: 42px;
}

.hero-section__description {
    font-size: 24px;
    margin-bottom: 26px;
}

.hero-section__link {
    display: inline-block;
    background: #000;
    color: #fff !important;
    padding: 8px 23px;
    border-radius: 1.25rem;
    cursor: pointer;
}

.hero-section__link:hover {
    background: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 0.95) !important;
}

.hero-section__link:active {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9) !important;
}

.hero-section__img-wrapper {
    display: flex;
    flex-direction: column;
}

.hero-section__img-shadow {
    min-width: 100px;
    max-width: 280px;
    height: 40px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.4);
    filter: blur(56px);
}

/* guide */
.guide .container {
    padding: 60px 30px 190px;
}

.guide__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 27px;
}

.guide__text {
    display: block;
    text-align: center;
    font-size: 20px;
    max-width: 630px;
    justify-self: center;
}

.guide__text+.guide__text {
    margin-top: 47px;

}

.guide__text:last-child {
    margin-bottom: 90px;

}

.guide__subtitle {
    font-size: 36px;
    text-align: center;
    margin-bottom: 52px;
}

.guide__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.guide__item {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.guide__item-img {
    margin-bottom: 29px;
}

.guide__item-title {
    text-align: center;
    margin: 0 auto;
    max-width: 156px;
    margin-bottom: 17px;
}

.guide__item-price {
    margin-bottom: 5px;
}

.guide__item-btn {
    font-weight: 700;
    position: relative;
}

.guide__item-btn:active {
    color: rgba(0, 0, 0, 0.85);
}

/* guide books */
.guide-book__item {
    padding: 76px 24px 51px;
    background: rgba(204, 204, 204, 0.6);
}

.guide-book__item .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.guide-book__item--light {
    background: rgba(204, 204, 204, 0.3);
}

.guide-book__img {
    max-height: 525px;
}

.guide-book__description {
    width: 50%;
}

.guide-book__title {
    font-size: 36px;
    margin-bottom: 31px;
}

.guide-book__text {
    font-size: 36px;
    margin-bottom: 40px;
}

.guide-book__shop {
    font-size: 17px;
    font-weight: 700;
    position: relative;
}

.guide-book__item--rev .container {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}