@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@800&display=swap');

:root {
    --font-main: 'Roboto', sans-serif;
    --font-title: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-main);
    font-weight: normal;
    padding-top: 70px;
}


/* common */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

.title {
    font-weight: 700;
}

.underline-hover {
    position: relative;
}

.underline-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    transition: 0.5s width;
    background: #000;
}

.underline-hover:hover::after {
    width: 100%;
}

.title-block {
    display: inline-block;
}

.title-block__text {
    font-family: var(--font-title);
    margin: 0;
    font-weight: 800;
}

.title-block__link {
    display: inline-flex;
    align-items: baseline;
    color: inherit;
}

.title-block__dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateY(-0.39em);
}

/* header */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 20;
    transition: transform 0.3s ease;
    height: 70px;
    box-shadow: 0px 5px 20px #a5a5a533;
}

.header.hide {
    transform: translateY(-100%);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    height: 100%;
}

.header__nav-list {
    display: flex;
    max-width: 423px;
    gap: 28px;
}

.header__nav-item {
    font-size: 16px;
    color: #1c1b1b;
    font-weight: 700;
    line-height: 1.65;
}

.header__nav-item:active {
    color: #1c1b1bd9;
}

.header__title {
    font-size: 28px;
}

.title-block__dot--header {
    background-color: #0033FF;
}

.header__actions-list {
    width: clamp(80px, 105px, 110px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__action-item :is(a, button):hover {
    opacity: 0.75;
    cursor: pointer;
}

/* main */

/* hero-section */
.hero-section {
    background: #f0efeb;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 20px;
    min-height: 555px;
}

.hero-section__left {
    max-width: 510px;
}

.hero-section__title {
    font-size: 60px;
    margin-bottom: 42px;
}

.hero-section__description {
    font-size: 24px;
    margin-bottom: 26px;
}

.hero-section__link {
    display: inline-block;
    background: #000;
    color: #fff !important;
    padding: 8px 23px;
    border-radius: 1.25rem;
    cursor: pointer;
}

.hero-section__link:hover {
    background: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 0.95) !important;
}

.hero-section__link:active {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9) !important;
}

.hero-section__img-wrapper {
    display: flex;
    flex-direction: column;
}

.hero-section__img-shadow {
    min-width: 100px;
    max-width: 280px;
    height: 40px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.4);
    filter: blur(56px);
}

/* guide */
.guide .container {
    padding: 60px 30px 190px;
}

.guide__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 27px;
}

.guide__text {
    display: block;
    text-align: center;
    font-size: 20px;
    max-width: 630px;
    justify-self: center;
}

.guide__text+.guide__text {
    margin-top: 47px;

}

.guide__text:last-child {
    margin-bottom: 90px;

}

.guide__subtitle {
    font-size: 36px;
    text-align: center;
    margin-bottom: 52px;
}

.guide__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.guide__item {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.guide__item-img {
    margin-bottom: 29px;
}

.guide__item-title {
    text-align: center;
    margin: 0 auto;
    max-width: 156px;
    margin-bottom: 17px;
}

.guide__item-price {
    margin-bottom: 5px;
}

.guide__item-btn {
    font-weight: 700;
    position: relative;
}

.guide__item-btn:active {
    color: rgba(0, 0, 0, 0.85);
}

/* guide books */
.guide-book__item {
    padding: 76px 24px 51px;
    background: rgba(204, 204, 204, 0.6);
}

.guide-book__item .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.guide-book__item--light {
    background: rgba(204, 204, 204, 0.3);
}

.guide-book__img {
    max-height: 525px;
}

.guide-book__description {
    width: 50%;
}

.guide-book__title {
    font-size: 36px;
    margin-bottom: 31px;
}

.guide-book__text {
    font-size: 36px;
    margin-bottom: 40px;
}

.guide-book__shop {
    font-size: 17px;
    font-weight: 700;
    position: relative;
}

.guide-book__item--rev .container {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

/* unique features */
.unique-features {
    margin-bottom: 52px;
}

.unique-features .container {
    padding: 190px 100px 112px;
}

.unique-features__title {
    text-align: center;
    max-width: 450px;
    font-size: 36px;
    margin: 0 auto;
    margin-bottom: 69px;
}

.unique-features__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.unique-features__item {
    width: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.unique-features__item-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 26px;
}

.unique-features__item-icon--1 {
    background: #21f7ec;
}

.unique-features__item-icon--2 {
    background: #33d3bc;
}

.unique-features__item-icon--3 {
    background: #18a5c6;
}

.unique-features__item-icon--4 {
    background: #d38f62;
}

.unique-features__item-icon--5 {
    background: #f94c43;
}

.unique-features__item-icon--6 {
    background: #d399ff;
}

.unique-features__item-description {
    font-size: 30px;
    font-weight: 700;
    max-width: 190px;
    text-align: center;
}

/* interviews */
.interviews {
    padding-top: 100px;
}

.interviews__title {
    text-align: center;
    font-size: 36px;
    max-width: 705px;
    margin: 0 auto;
    margin-bottom: clamp(80px, 15vw, 204px);
}

.interviews__items {
    background: #f0f0f0;
    padding: 80px 28px;
}

.interviews__items .container {
    min-height: 400px;
    position: relative;
}

.interviews__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -25%;
    position: relative;
    left: 0;
    right: 0;
    z-index: 10;
}

.interviews__item {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    text-align: center;
}

.interviews__item-img {
    width: 100%;
    margin-bottom: 35px;
}

.interviews__item-text {
    font-size: 22px;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 40px;
}

.interviews__item-name {
    margin-bottom: 40px;
}

.interviews__item-link {
    display: inline-block;
    width: fit-content;
    align-items: center;
    margin: 0 auto;
    font-weight: 700;
}

/* subscription */
.subscription .container {
    text-align: center;
    padding: 75px 0 75px;
}

.subscription__title {
    font-size: 36px;
    margin-bottom: 9px;
}

.subscription__description {
    font-size: 17px;
    margin-bottom: 25px;
}

.subscription__form {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin: 0 auto;
}

.subscription__form input[name="subscription__form"] {
    width: auto;
    border: 1px solid #9a9a9a;
    outline: none;
    padding: 10px 8px;
}

.subscription__form input[name="subscription__form"]:focus {
    border-color: #000;
}


.subscription__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subscription__form-name {
    max-width: 153px;
}

.subscription__form-last-name {
    max-width: 153px;
}

.subscription__form-email {
    width: 366px;
}

.subscription__btn {
    max-width: 115px;
    color: white;
    background: #000;
    border-radius: 1rem;
    padding: 8px 23px;
    margin: 0 auto;
}

.subscription__btn:active {
    color: #f4f4f4;
    background: #171717;
}

/* footer */
.footer {
    background: #020202;
    color: #fff;
    min-height: 320px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(50%);
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.footer__title {
    font-size: 32px;
    margin-bottom: 25px;
}

.title-block__dot--footer {
    background-color: #CCCC33;
}

.footer__socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__socials-item {
    line-height: 1.5;
}

.footer__links {
    width: min(350px, 430px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links-title {
    font-size: 14px;
    line-height: 1.65;
    color: #fff;
    margin-bottom: 36px;
}

.footer__list-item {
    font-size: 14px;
    line-height: 1.5;
    transition: 0.3s color;
}

.footer__list-item:hover {
    color: rgba(255, 255, 255, 0.8);
}

.footer__list-item:active {
    color: rgba(255, 255, 255, 0.6);
}

.footer__list-item+.footer__list-item {
    margin-top: 12px;
}

.footer__bottom {
    margin: 0 auto;
}

.footer__bottom p {
    line-height: 1.65;
    text-align: center;
}

/* cart */

.cart-aside {
    align-self: flex;
    width: clamp(25%, 20rem, 50rem);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 19;
    padding: 90px 20px 40px;
    background: #FBFBFB;
}

.cart-aside.transition-ready {
    transition: transform 0.4s ease;
}

.cart-aside.active {
    transform: translateX(0);
}

.cart__close-btn {
    display: flex;
    margin-left: auto;
    margin-bottom: 30px;
    cursor: pointer;
}

.cart__list {
    overflow-y: auto;
    max-height: calc(100vh - 150px - 120px);
}

.cart__list-item {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image top"
        "image bottom";
    padding: 0 10px;
}

.cart__list-item+.cart__list-item {
    margin-top: 30px;
    border-top: 1px solid #D9D9D9;
    padding-top: 30px;
}

.cart__item-img {
    grid-area: image;
    padding-right: 10px;
}

.cart__item-top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.cart__item-title {
    font-size: clamp(1rem, 1vw, 10rem);
    color: #121212;
}

.cart__item-delete-btn {
    width: 24px;
    height: 24px;
    background: url("../icons/delete-item-icon.svg") center/cover no-repeat;
}

.cart__item-bottom {
    grid-area: bottom;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.cart__item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.quantity-input {
    background: #fff;
    width: 60px;
    height: 40px;
    border: 1.5px #000000 solid;
    border-radius: 0.6rem;
    text-align: center;
    padding: 0 5px;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.cart__item-price {
    font-size: 18px;
}

.cart-aside__empty,
.cart-aside__order-accepted {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
}

.cart-aside__empty p,
.cart-aside__order-accepted p {
    font-size: 23px;
    color: #A7A7A7;
}

.none {
    display: none;
}

.cart__bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    max-width: calc(100% - 20px);
    max-height: 90px;
}

.cart__bottom-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cart__bottom-total strong {
    font-size: 22px;
}

.total-sum {
    font-size: 24px;
}

.cart__bottom-agreement {
    font-size: 14px;
    margin-bottom: 10px;
}

.cart__bottom-btn {
    width: 80%;
    max-width: 300px;
    font-size: 18px;
    padding: 5px 5%;
    background: #048600;
    color: #fff;
    font-size: 20px;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
}

.cart__bottom a {
    color: #202020;
}

.cart__bottom-btn:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    opacity: 0.7;
}


/* Privacy Policy and Terms */

.terms {
    margin-bottom: 20px;
}

.terms__title,
.privacy__title {
    font-size: 24px;
    margin-bottom: 10px;
}