@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@800&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding-top: 70px;
}

/* common */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

.title {
    font-weight: 700;
}

.underline-hover {
    position: relative;
}

.underline-hover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    transition: 0.5s width;
    background: #000;
}

.underline-hover:hover::after {
    width: 100%;
}

/* header */
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
    transition: transform 0.3s ease;
    height: 70px;
}

.header.hide {
    transform: translateY(-100%);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    height: 100%;

}

.header__nav-list {
    display: flex;
    max-width: 423px;
    gap: 28px;
}

.header__nav-item {
    display: inline;
    font-size: 16px;
    color: #1c1b1b;
    font-weight: 700;
    line-height: 1.65;
}

.header__nav-item:active {
    color: rgba(28, 27, 27, 0.85);
}

.header__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
}

.header__title span {
    display: inline-flex;
    width: 5px;
    height: 5px;
    background-color: #0033FF;
    border-radius: 50%;
    transform: translateY(-11px);
}

.header__actions-list {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__action-item:hover {
    opacity: 0.75;
    cursor: pointer;
}

/* main */

/* hero-section */
.hero-section {
    background: #f0efeb;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 20px;
    min-height: 555px;
}

.hero-section__left {
    max-width: 510px;
}

.hero-section__title {
    font-size: 60px;
    margin-bottom: 42px;
}

.hero-section__description {
    font-size: 24px;
    margin-bottom: 26px;
}

.hero-section__link {
    display: inline-block;
    background: #000;
    color: #fff !important;
    padding: 8px 23px;
    border-radius: 1.25rem;
    cursor: pointer;
}

.hero-section__link:hover {
    background: rgba(0, 0, 0, 0.85);
    color: rgba(255, 255, 255, 0.95) !important;
}

.hero-section__link:active {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9) !important;
}

.hero-section__img-wrapper {
    display: flex;
    flex-direction: column;
}

.hero-section__img-shadow {
    min-width: 100px;
    max-width: 280px;
    height: 40px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.4);
    filter: blur(56px);
}

/* guide */
.guide .container {
    padding: 60px 30px 190px;
}

.guide__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 27px;
}

.guide__text {
    display: block;
    text-align: center;
    font-size: 20px;
    max-width: 630px;
    justify-self: center;
}

.guide__text+.guide__text {
    margin-top: 47px;

}

.guide__text:last-child {
    margin-bottom: 90px;

}

.guide__subtitle {
    font-size: 36px;
    text-align: center;
    margin-bottom: 52px;
}

.guide__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.guide__item {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.guide__item-img {
    margin-bottom: 29px;
}

.guide__item-title {
    text-align: center;
    margin: 0 auto;
    max-width: 156px;
    margin-bottom: 17px;
}

.guide__item-price {
    margin-bottom: 5px;
}

.guide__item-btn {
    font-weight: 700;
    position: relative;
}

.guide__item-btn:active {
    color: rgba(0, 0, 0, 0.85);
}

/* guide books */
.guide-book__item {
    padding: 76px 24px 51px;
    background: rgba(204, 204, 204, 0.6);
}

.guide-book__item .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.guide-book__item--light {
    background: rgba(204, 204, 204, 0.3);
}

.guide-book__img {
    max-height: 525px;
}

.guide-book__description {
    width: 50%;
}

.guide-book__title {
    font-size: 36px;
    margin-bottom: 31px;
}

.guide-book__text {
    font-size: 36px;
    margin-bottom: 40px;
}

.guide-book__shop {
    font-size: 17px;
    font-weight: 700;
    position: relative;
}

.guide-book__item--rev .container {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

/* unique features */
.unique-features {
    margin-bottom: 52px;
}

.unique-features .container {
    padding: 190px 100px 112px;
}

.unique-features__title {
    text-align: center;
    max-width: 450px;
    font-size: 36px;
    margin: 0 auto;
    margin-bottom: 69px;
}

.unique-features__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.unique-features__item {
    width: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.unique-features__item-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 26px;
}

.unique-features__item-icon--1 {
    background: #21f7ec;
}

.unique-features__item-icon--2 {
    background: #33d3bc;
}

.unique-features__item-icon--3 {
    background: #18a5c6;
}

.unique-features__item-icon--4 {
    background: #d38f62;
}

.unique-features__item-icon--5 {
    background: #f94c43;
}

.unique-features__item-icon--6 {
    background: #d399ff;
}

.unique-features__item-description {
    font-size: 30px;
    font-weight: 700;
    max-width: 190px;
    text-align: center;
}

/* interviews */
.interviews {
    padding-top: 100px;
}

.interviews__title {
    text-align: center;
    font-size: 36px;
    max-width: 705px;
    margin: 0 auto;
    margin-bottom: clamp(80px, 15vw, 204px);
}

.interviews__items {
    background: #f0f0f0;
    padding: 80px 28px;
}

.interviews__items .container {
    min-height: 400px;
    position: relative;
}

.interviews__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -25%;
    position: relative;
    left: 0;
    right: 0;
    z-index: 10;
}

.interviews__item {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    text-align: center;
}

.interviews__item-img {
    width: 100%;
    margin-bottom: 35px;
}

.interviews__item-text {
    font-size: 22px;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 40px;
}

.interviews__item-name {
    margin-bottom: 40px;
}

.interviews__item-link {
    display: inline-block;
    width: fit-content;
    align-items: center;
    margin: 0 auto;
    font-weight: 700;
}

/* subscription */
.subscription .container {
    text-align: center;
    padding: 75px 0 75px;
}

.subscription__title {
    font-size: 36px;
    margin-bottom: 9px;
}

.subscription__description {
    font-size: 17px;
    margin-bottom: 25px;
}

.subscription__form {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin: 0 auto;
}

.subscription__form input {
    width: auto;
    border: 1px solid #000;
    outline: none;
    padding: 10px 8px;
}

.subscription__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subscription__form-name {
    max-width: 153px;
}

.subscription__form-last-name {
    max-width: 153px;
}

.subscription__form-email {
    width: 366px;
}

.subscription__btn {
    max-width: 115px;
    color: white;
    background: #000;
    border-radius: 1rem;
    padding: 8px 23px;
    margin: 0 auto;
}

/* footer */
.footer {
    background: #020202;
    color: #fff;
    min-height: 320px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(50%);
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.footer__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 25px;
}

.footer__title span {
    display: inline-flex;
    width: 5px;
    height: 5px;
    background-color: #CCCC33;
    border-radius: 50%;
    transform: translateY(-11px);
}

.footer__socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer__socials-item {
    line-height: 1.5;
}

.footer__links {
    width: min(350px, 430px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links-title {
    font-size: 14px;
    line-height: 1.65;
    color: #fff;
    margin-bottom: 36px;
}

.footer__list-item {
    font-size: 14px;
    line-height: 1.5;
    transition: 0.3s color;
}

.footer__list-item:hover {
    color: rgba(255, 255, 255, 0.8);
}

.footer__list-item:active {
    color: rgba(255, 255, 255, 0.6);
}

.footer__list-item+.footer__list-item {
    margin-top: 12px;
}

.footer__bottom {
    margin: 0 auto;
}

.footer__bottom p {
    line-height: 1.65;
    text-align: center;
}